<h1><%= t ".title" %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('views.show'), book %>
    </p>
  <% end %>
</div>

<%= paginate @books %>

<%= link_to t('views.new'), new_book_path %>
