<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= report.content %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:posting_date) %>:</strong>
    <%= l report.created_at, format: :long %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:name) %>:</strong>
    <% if report.user.name.present? %>
      <%= report.user.name %>
    <% else %>
      <%= report.user.email %>
    <% end %>
  </p>

</div>
